@font-face{
	font-size: 'Teko-Bold';
	src:url('fonts/Teko-Bold.ttf');
}
@font-face{
	font-family:'DancingScript-Bold';
	src:url('fonts/DancingScript-Bold.ttf');
}
@font-face{
	font-family:'FredokaOne';
	src:url('fonts/FredokaOne.ttf');
}